* {

}
html {
  box-sizing: border-box;
}
body {
  background-color: #DCDCDC;
}
div {

}
h1 {

}
h3 {

}
p {

}
hr {
  height: 1px;
}
a {
  text-decoration: none;
}
.continuity {
  color: maroon;
  font-weight: bold;
}
.continuity a {
  color: maroon;
  font-weight: bold;
}
.linkBox {
  padding: 20px 50px 20px 50px;
}
.highlight {
  color: black;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 150%;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.entryContent {
  background-color: thistle;
  border: 2px solid maroon;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#navBar {

}
#linksFooter {

}
#contactMe {

}
#blogHeader {
/*  color: maroon;  */
  background-color: thistle;
  border: 2px solid maroon;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#greeting {
  background-color: silver;
  padding: 10px;
}
#greeting p {

}
#question_1 {
  background-color: silver;
  padding: 10px;
}
#question_2 {
  background-color: silver;
  padding: 10px;
}
#result {
  background-color: lightblue;
  padding: 10px;
}
#exercise1 {
  background-color: silver;
  padding: 10px;
}
#exercise2 {
  background-color: silver;
  padding: 10px;
}
#exercise3 {
  background-color: silver;
  padding: 10px;
}
#exercise4 {
  background-color: silver;
  padding: 10px;
}
#exercise5 {
  background-color: silver;
  padding: 10px;
}
#exercise6 {
  background-color: silver;
  padding: 10px;
}
#result_1 {
  background-color: silver;
  padding: 10px;
}
#result_2 {
  background-color: silver;
  padding: 10px;
}
#result_3 {
  background-color: silver;
  padding: 10px;
}
#result_4 {
  background-color: silver;
  padding: 10px;
}
#result_5 {
  background-color: silver;
  padding: 10px;
}
